footer {
  width: 100%;
  font-size: 18px;
  height: 50px;
  display: flex;
  background-color: #37474F;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1em;
  text-shadow: #999 0.1em 0.1em 0.2em;
  position: fixed;
  bottom: 0;
  line-height: 60px;
  text-align: center;
}
